/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  position: relative;
  margin: 3rem 0 0 0;
  padding: 0 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  transition: .5s;
  background: rgba(231, 116, 185, 0.6);
}

a {
  text-decoration: none;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #BD6896;
  z-index: 100;
  transition: .5s;
}

.header-text {
  color: #181717;
  font-size: 20px;
  cursor: pointer;
}

.logo-name {
    color: #0a0a0a;
    font-weight: 700;
  }

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

/*===== NAV =====*/
.menubar {
  position: fixed;
  top: 47px;
  left: -30%;
  width: 280px;
  height: 100vh;
  background-color: #33001C;
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: 100;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.search,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.navbar .search {
  margin-bottom: 2rem;
  color: #a59ea1;
  background: #FFC5E1;
  border-radius: 10px;
  width: 326px;
  height: 30px;
  left: 41px;
}

.search-icon {
  font-size: 1.25rem;
  border-radius: 10px;
}

.nav_link {
  position: relative;
  color: #fff;
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav_link:hover {
  background: #4D1B36;
  transition: 0.3s ease;
}

.nav_icon {
  font-size: 1.25rem;
}

.submenu {
    background: #4D1B36;
}

.submenu a {
    padding-left: 80px;
}

.sub-item {
    position: relative;
    color: #fff;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: .3s;
}

.dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}


/*Show navbar movil*/
.show {
  left: 0;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc 68px + 1rem;
}

/*Active links*/
.active {
  color: v#F7F6FB;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #F7F6FB;
}

/* tampilan nama user */
.holder {
  position: relative;
}

.card {
  top: 20px;
  bottom: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  height: 270px;
  overflow: hidden;
  position: relative;
  width: 40%;
}

.card:before {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: '';
  height: 300px;
  position: absolute;
  width: 100%;
}

.card_text {
  font-family: 'Nunito', sans-serif;;
  font-size: 15px;
  color: #33001C;
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: calc 4rem 0 0 0;
    padding-left: calc 68px + 2rem;
  }

  .header {
    height: calc 4rem;
    padding: 0 2rem 0 calc 68px + 2rem;
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .menubar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show {
    width: 224;
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: 256px;
  }
}